project:
  type: website
  output-dir: docs

website:
  title: "Safia Mariyam"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - href: CV.qmd
        text: CV

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

